<html !DOCTYPE>
<head>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
<div ng-controller="CalcController">
    <input type="number" ng-model="x">
    <input type="number" ng-model="y">
    <button type="button" class="btn btn-default" ng-click="sum()">+</button>
    {{z}}
</div>
<div ng-controller="ProdController">
    <ul class="list-group">
        <li ng-repeat="product in products" class="list-group-item">
            {{product.categoryId}} {{product.name}} {{product.categoryName}}
        </li>
    </ul>
    <button type="button" class="btn btn-default" ng-click="load()">+</button>
</div>
<script src="../node_modules/angular/angular.min.js"></script>
<script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app/calculator.controller.js"></script>
<script src="app/products.controller.js"></script>
<script src="app/products.product.service.js"></script>
<script src="app/products.category.service.js"></script>
</body>
</html>